.container {
	position: fixed;
	left: 0;
	width: 616px;
	height: 100%;
	overflow: scroll;
	transform: translate(-616px);
	transition: transform 0.5s ease;
}

.container_open {
	transform: translate(0);
}

.form {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	box-sizing: border-box;
	width: 601px;
	gap: 50px;
	height: auto;
	min-height: 100%;
	padding: 50px 31px;
	background-color: #fff;
	border-right: 1px solid #000;
}

.title {
    font-size: 32px;
    font-weight: 1000;
    text-transform: uppercase;
    margin: 0 0 24px 0;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

.bottomContainer {
	display: flex;
	flex: 1;
	flex-direction: row;
	gap: 50px;
}
